<form class="form-horizontal" id="product-form">
    <input type="hidden" id="id" data-mapper-property="id"/>
    <input type="hidden" id="type" data-mapper-property="type" data-type="attributes"/>

    <div class="grid-row small">
        <div class="grid-col-12">
            <div class="form-group">
                <label for="name" class="required"><%= translate('product.name') %></label>
                <input type="text"
                       id="name"
                       class="preview-update form-element"
                       data-mapper-property="name"
                       data-validation-required="true"
                       data-validation-max-length="255"
                />
            </div>
        </div>
    </div>
    <div class="grid-row small">
        <div class="grid-col-6">
            <div class="form-group">
                <label for="number" class="required"><%= translate('product.number') %></label>
                <input type="text"
                       id="number"
                       class="form-element"
                       data-mapper-property="number"
                       data-validation-required="true"
                       data-validation-max-length="255"/>
            </div>
        </div>
        <div class="grid-col-6">
            <div class="form-group">
                <label for="supplier-input"><%=translate('product.supplier')%></label>
                <div id="supplierField"></div>
            </div>
        </div>
    </div>

    <div class="grid-row small">
        <div class="grid-col-6">
            <div class="form-group">
                <label for="orderUnit" class="required"><%=translate('product.orderUnit')%></label>
                <div id="orderUnit"
                     data-aura-component="select@husky"
                     data-aura-data="{{ units|json_encode() }}"
                     data-aura-default-label="<%=translate('public.please-choose')%>"
                     data-aura-multiple-select="false"
                     data-aura-instance-name="orderUnit"
                     data-type-label="id"
                     data-aura-direction="bottom"
                     data-type-required="orderUnit"
                     data-mapper-property="orderUnit"
                     data-type="husky-select"
                     data-validation-required="true"
                     data-aura-pre-selected-elements="[]"
                     data-form="true">
                </div>
            </div>
        </div>
        <div class="grid-col-6">
            <div class="form-group">
                <label for="recommendedOrderQuantity"><%= translate('product.recommendedOrderQuantity') %></label>
                <input class="form-element"
                       type="text"
                       id="recommendedOrderQuantity"
                       data-mapper-property="recommendedOrderQuantity"
                       data-type="decimal"
                       data-validation-required="false"/>
            </div>
        </div>
    </div>

    <div class="grid-row small">
        <div class="grid-col-6">
            <div class="form-group">
                <label for="contentUnit"><%=translate('product.contentUnit')%></label>

                <div id="contentUnit"
                     data-aura-component="select@husky"
                     data-aura-data="{{ units|json_encode() }}"
                     data-aura-default-label="<%=translate('public.please-choose')%>"
                     data-aura-multiple-select="false"
                     data-aura-instance-name="contentUnit"
                     data-aura-deselect-field="true"
                     data-aura-direction="bottom"
                     data-type-label="id"
                     data-type-required="contentUnit"
                     data-mapper-property="contentUnit"
                     data-type="husky-select"
                     data-validation-required="false"
                     data-aura-pre-selected-elements="[]"
                     data-form="true">
                </div>
            </div>
        </div>
        <div class="grid-col-6">
            <div class="form-group">
                <label for="recommendedOrderQuantity"><%= translate('product.orderContentRatio') %></label>
                <input class="form-element"
                       type="text"
                       id="orderContentRatio"
                       data-mapper-property="orderContentRatio"
                       data-type="decimal"
                       data-validation-required="false"/>
            </div>
        </div>
    </div>

    <div class="grid-row small">
        <div class="grid-col-6">
            <div class="form-group">
                <label for="deliveryTime"><%= translate('product.deliveryTime') %></label>
                <input class="form-element"
                       type="text"
                       id="deliveryTime"
                       data-mapper-property="deliveryTime"
                       data-type="decimal"/>
            </div>
        </div>
        <div class="grid-col-6">
            <div class="form-group">
                <label for="minimumOrderQuantity"><%= translate('product.minimumOrderQuantity') %></label>
                <input class="form-element"
                       type="text"
                       id="minimumOrderQuantity"
                       data-mapper-property="minimumOrderQuantity"
                       data-type="decimal"/>
            </div>
        </div>
    </div>

    <div class="grid-row small">
        <div class="grid-col-6">
            <div class="form-group">
                <label for="manufacturer"><%= translate('products.manufacturer') %></label>
                <input class="form-element"
                       type="text"
                       id="manufacturer"
                       data-mapper-property="manufacturer"/>
            </div>
        </div>
        <div class="grid-col-6">
            <div class="form-group">
                <label for="globalTradeItemNumber"><%= translate('product.globalTradeItemNumber') %></label>
                <input class="form-element"
                       type="text"
                       id="globalTradeItemNumber"
                       data-mapper-property="globalTradeItemNumber"/>
            </div>
        </div>
    </div>

    <div class="grid-row">
        <div class="grid-col-6">
            <div class="form-group">
                <label for="deliveryStatus"><%= translate('product.deliveryStatus') %></label>
                <div id="deliveryStatus"
                     data-aura-component="select@husky"
                     data-aura-data="{{ deliveryStates|json_encode() }}"
                     data-aura-default-label="<%=translate('public.please-choose')%>"
                     data-aura-multiple-select="false"
                     data-aura-instance-name="deliveryStatus"
                     data-aura-deselect-field="false"
                     data-aura-direction="bottom"
                     data-type-label="id"
                     data-type-required="deliveryStatus"
                     data-mapper-property="deliveryStatus"
                     data-type="husky-select"
                     data-validation-required="false"
                     data-aura-pre-selected-elements="[]"
                     data-form="true">
                </div>
            </div>
        </div>
        <div class="grid-col-6">
        </div>
    </div>

    <h2 class="divider"><%= translate('product.description') %></h2>

    <div class="grid-row small">
        <div class="grid-col-12">
            <div class="form-group">
                <label for="long-description" class="top"><%= translate('product.long-description') %></label>
                <textarea id="long-description"
                          class="form-element"
                          data-type="textEditor"
                          data-type-instance-name="long-description"
                          data-aura-component="ckeditor@husky"
                          data-aura-height="300"
                          data-mapper-property="longDescription"
                          data-aura-instance-name="long-description"></textarea>
            </div>
        </div>
    </div>

    <div class="grid-row small">
        <div class="grid-col-12">
            <div class="form-group">
                <label for="short-description" class="top"><%= translate('product.short-description') %></label>
                <textarea id="short-description"
                          class="form-element trigger-save-button"
                          data-mapper-property="shortDescription"></textarea>
            </div>
        </div>
    </div>

    <div class="grid-row small">
        <div class="grid-col-12">
            <div class="form-group">
                <label for="short-description" class="top"><%= translate('product.search-terms') %></label>
                <textarea id="search-terms"
                          maxlength="{{ MAX_SEARCH_TERMS_LENGTH }}"
                          class="form-element trigger-save-button"
                          data-mapper-property="searchTerms"></textarea>
            </div>
        </div>
    </div>

    <h2 class="divider"><%= translate('product.classification') %></h2>
    {% block tags %}
        <div class="grid-row form-horizontal">
            <div class="form-group">
                <label><%= translate('tag.tags.title') %></label>
                <div id="tags"></div>
            </div>
        </div>
    {% endblock %}

    <div class="grid-row small">
        <div class="grid-col-12">
            <div class="form-group">
                <label class="top p-top-10"><%= translate('products.categories') %></label>

                <div id="categories">
                    <div data-aura-component="datagrid@husky"
                         data-aura-url="{{ categoryUrl }}&locale=<%= contentLocale %>"
                         data-aura-result-key="categories"
                         data-aura-pagination="false"
                         data-aura-instance-name="categories"
                         data-aura-children-property-name="hasChildren"
                         data-aura-resize-listeners="false"
                         data-aura-view-options='{"table":{"noItemsText":"sulu.category.no-categories-available","showHead":false,"cssClass":"white-box","selectItem":{"type":"checkbox","inFirstCell":true}}}'
                         data-aura-matchings='[{"name":"name","content":"Name"},{"name":"id","disabled":true},{"name":"children","disabled":true},{"name":"parent","disabled":true}]'
                         data-form="true"
                         data-type="categoryList"
                         data-type-instance-name="categories"
                         data-mapper-property="categories"
                         id="categoriesList">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
